<main class="home">
  <div class="title" id="titlematches">
    <h1>Jouw Profiel</h1>
    <div>
      <button>Zoek matches</button>
    </div>
  </div>
  <div class="profielcontainer1"></div>

  <div id="jouwprofiel">
    <h5><strong>{{user.name}}</strong> - Lid sinds {{user.memberSince}}</h5>
    <div class="profielcontainer">
      <div>
        <form  enctype="multipart/form-data" method="POST">
        <label for="photo"><img src="images/profile/{{user.profilePicUrl}}"></label>
        <input type="file" name="photo" id="photo" hidden><br>
        <input type="submit" value="upload">
        </form>
      </div>
      <div class="profielinfo">
        <p><strong>{{user.iWant}}</strong></p>
        <p>Jij zoekt een <strong>{{user.type}}</strong></p>
        <a> Instellingen</a>
        <a class="bekijkbucketlist">Bekijk bucketlist</a>
      </div>
    </div>
  </div>

  <section class="timeline">
    <h2 class="timelinetitle">Timeline</h2>
    <h2>Bekijk de status van jouw matches</h2>
    <div class="matchul"></div>
    {{#each users}}
    <div class="matchprofiel">
      <h5><strong>{{name}}</strong> - Lid sinds {{memberSince}}</h5>
      <div class="profielcontainer">
        <div>
          <img src="images/profile/{{profilePicUrl}}">
        </div>
        <div class="profielinfo">
          <p>{{iWant}}
          </p>
          <a> Reageer</a>
          <a class="bekijkbucketlist">Bekijk bucketlist</a>
        </div>
      </div>
    </div>
    {{/each}}
  </section>
</main>